<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>Applicant Tracker</title>
</head>

<body> 
  <h1>Applicant Tracker</h1>
  <div id="wrapper">
    <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
  <nav role="navigation" id="nav">
    <ul>
      <li><a class="navbar" id="navbar" href="/master/{{recruiter.id}}">Home</a></li>
      <li><a class="navbar" id="navbar" href="/master/{{recruiter.id}}/jobs">Open Jobs</a></li>
      <li><a class="navbar" id="navbar" href="/master/{{recruiter.id}}/companies">Companies</a></li>
      <li><a class="navbar" id="navbar" href="/master/{{recruiter.id}}/profile">Edit All</a></li>
      <li><a class="navbar" id="navbar" href="/logout">Log Out</a></li>
    </ul>
    </ul> 
  </nav>
    </div>
    </header>
    <section>
      {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for x in messages %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">{{ x }}</div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% endfor %}
      {% endif %}
      {% endwith %}
        <h1>Edit Recrutiers</h1>
        <ul>
          {% for x in call_recruiter %}
          <li>
           {{ x.username, x.first_name, x.last_name }} <button action="/master/recruiter/delete">Delete</button>
          </li>
          {% endfor %}
        <button> <a href="/master/{{ recruiter.id }}/profile/newrecruiter" class="btn btn-outline-secondary">Add New Recruiter</a></button>
      </ul>
      <br>
        <h1>Edit Applicants</h1>
        <ul>
          {% for x in app %}
          <li>
           {{ x.username, x.first_name, x.last_name }} <button>Delete</button>
          </li>
          {% endfor %}
          <button> <a href="/master/{{ recruiter.id }}/profile/newapp" class="btn btn-outline-secondary">Add New Applicants</a></button>
      </ul>
      <br>
      <h1>Edit Companies</h1>
      <ul>
        {% for x in companies %}
        <li>
         {{ x.name, x.location }} <button>Delete</button>
        </li>
        {% endfor %}
        <button> <a href="/master/{{ recruiter.id }}/profile/newcompanies" class="btn btn-outline-secondary">Add New Company</a></button>
    </ul>
    <br>
    <h1>Edit Jobs</h1>
    <ul>
      {% for x in jobs %}
      <li>
       {{ x.title, x.salary, x.company_name }} <button>Delete</button>
      </li>
      {% endfor %}
      <button> <a href="/master/{{ recruiter.id }}/profile/newjob" class="btn btn-outline-secondary">Add New Jobs</a></button>
  </ul>
  <br>
  <h1>Edit Interviews</h1>
  <ul>
    {% for x in interviews %}
    <li>
     {{ x.id, x.notes, x.applicant_id, x.job_id }} <button>Delete</button>
    </li>
    {% endfor %}
    <button> <a href="/master/{{ recruiter.id }}/profile/newinterview" class="btn btn-outline-secondary">Add New Interview</a></button>
</ul>
    </section>


</body>

</html> 