<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>Applicant Tracker</title>
</head>

<body> 
  <h1><a class="navbar" id="navbar" href="/">Applicant Tracker</a></h1>
  <div id="wrapper">
    <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
  <nav role="navigation" id="nav">
    <ul>
      <li><a class="navbar" id="navbar" href="/login">Login</a></li>
      <li><a class="navbar" id="navbar" href="/signup">Sign Up</a></li>
      <li><a class="navbar" id="navbar" href="/master/login">Recruiter Login</a></li>
    </ul>
    </ul> 
  </nav>
    </div>
    </header>
    <section>
      <button><a class="add_new_user" href="/login">Login</a></button>
      <button><a class="add_new_user" href="/signup">Sign Up</a></button>
      <button><a class="add_new_user" href="/master/login">Recruiter Login</a></button>
    </section>

</body>

</html> 