<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>Applicant Tracker</title>
</head>

<body> 
  <h1>Applicant Tracker</h1>
  <div id="wrapper">
    <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->

    </div>
</header>
      <h2>Edit Profile</h2>
      <form method="POST" action="/master/{{recruiter.id}}/profile/edit">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
          {{ form.username.label }} 
          {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.first_name.label }} 
          {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.last_name.label }} 
          {{ form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.email.label }} 
          {{ form.email(class="form-control") }}
        </div>
        
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
      <button> <a href="/master/{{recruiter.id}}/profile" class="btn btn-outline-secondary">Cancel</a></button>
    </section>
  </div>

</body>

</html> 
