
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Job</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Add New Job</h1>
  <div id="wrapper">
    <form method="POST">
      {{ form.hidden_tag() }}
      
      <div class="form-group">
        <label for="title">Job Title</label>
        {{ form.title(class="form-control") }}
      </div>

      <div class="form-group">
        <label for="salary">Salary</label>
        {{ form.salary(class="form-control") }}
      </div>

      <div class="form-group">
        <label for="company_id">Company ID</label>
        {{ form.company_id(class="form-control") }}
      </div>

      <button type="submit" class="btn btn-primary">Add Job</button>
    </form>

    <br>
    <button> <a href="/master/{{recruiter.id}}/profile" class="btn btn-outline-secondary">Cancel</a></button>
  </div>
</body>
</html>
