<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>Applicant Tracker</title>
</head>

<body> 
  <h1>Applicant Tracker</h1>
  <div id="wrapper">
    <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->

    </div>
    </header>
    <section>
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
          {% for x in messages %}
          <div class="alert alert-danger alter-dismissable fade show" role="alert">{{ x }}</div>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
          {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>New Job</h2>
        {% block content %}
        <form method="POST"  action="/master/{recruiter.id}/profile/newjob" >
              {{ form.hidden_tag() }}

              
              {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                  {{field.label}}
                 
                  {{field}}
                  <span>
                    {% if field.errors %}
                      {% for error in field.errors %}
                      {{error}}
                      {% endfor %}
                      {% endif %}
                  </span>
                </p>
                {% endfor %}
                </form>
                {% endblock %}
            <button> <a href="/master/{{recruiter.id}}/profile" class="btn btn-outline-secondary">Cancel</a></button>
          </form>
    </section>


</body>

</html> 